<header id="home-header">
    <!--TODO: Define logo and add it here-->
    <a id="home-logo-link" href="{{ url_for('home') }}">
        <img id="home-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="The logo should be here somewhere...">
    </a>
    <form method="get" action="{{ url_for('signin') }}">
        <button id="home-signin-button" type="submit">Sign In</button>
    </form>
    <!--TODO: Add language selection overlay-->
    <button id="home-language-button" type="button">
        <img id="home-language-button-icon" src="{{ url_for('static', filename='img/uk.png') }}">
    </button>
</header>
