{% extends "base.html" %}

{% block head %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
    {% endblock %}
{% endblock %}

{% block content %}
    <div id="convert-download-dialog">
        <div id="convert-download-icon-background">
            <img id="convert-download-icon" src="https://img.icons8.com/doodle/96/000000/zip.png"/>
        </div>
        <a id="convert-download-link" href="{{ url_for('multilingual.convert_download') }}">
{#            <button id="convert-download-button">{{ _('Download') }}</button>#}
            {{ _('Download') }}
        </a>
    </div>

{#    <script type="text/javascript">#}
{#        const downloadButton = document.getElementById('convert-download-button');#}
{##}
{#        downloadButton.addEventListener('click', e => {#}
{#            if (e.button !== 0) return;#}
{#            const link = document.getElementById('convert-download-link');#}
{#            link.click();#}
            {#window.location.replace("{{ url_for('multilingual.convert_download') }}");#}
            {#window.location.replace("{{ url_for('multilingual.index') }}")#}
            {#fetch("{{ url_for('multilingual.convert_download') }}").then((res) => {#}
            {#    if (res.status === 301 || res.status === 200) {#}
            {#        res.blob().then(blob => {#}
            {#            const link = document.createElement('a');#}
            {#            link.href = blob.stream();#}
            {#            link.click();#}
            {#        });#}
            {#    }#}
            {# });#}
{#        });#}
{#    </script>#}
{% endblock %}