{% extends "base.html" %}

{% block head %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
    {% endblock %}
{% endblock %}

{% block content %}
    <div id="convert-download-dialog">
        <img id="convert-download-icon" src="{{ url_for('static', filename='img/Download-music.png') }}"/>
    </div>
    <div class="buttons">
        <button id="convert-download-button">{{ _('Download') }}</button>
        <button id="convert-again-button">{{ _('Convert again') }}</button>
    </div>

    <script type="text/javascript">
        const DOWNLOAD_BUTTON = document.getElementById('convert-download-button');
        const CONVERT_AGAIN_BUTTON = document.getElementById('convert-again-button');

        DOWNLOAD_BUTTON.addEventListener('click', e => {
            if (e.button !== 0) return;
            const link = document.createElement('a');
            link.href = '{{ url_for('multilingual.convert_download') }}';
            link.click();
        });

        CONVERT_AGAIN_BUTTON.addEventListener('click', e => {
            if (e.button !== 0) return;
            const link = document.createElement('a');
            link.href = '{{ url_for('multilingual.convert') }}';
            link.click();
        });
    </script>
{% endblock %}