{% extends "base.html" %}

{% block head %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    {% endblock styles %}
{% endblock head %}

{% block content %}
    <div class="history-dialog">
        <h2>&nbsp; {{ _('History') }}</h2>
        <hr class="settingsBoxHyphen"/>
        <form method="POST" action="{{ url_for('multilingual.history_download') }}">
            <table>
                <tr>
                    {#TODO: sort by name#}
                    <th>{{ _('File name') }}</th>
                    {#TODO: sort by format #}
                    <th>{{ _('Format') }}</th>
                    {#TODO: sort by date #}
                    <th>{{ _('Date') }}</th>
                    <th>
                    </th>
                </tr>
                {% for item in tracks %}
                    <tr>
                        <td>{{ item.trackname }}</td>
                        <td>{{ item.format }}</td>
                        <td>{{ item.timestamp }}</td>
                        <td>
                            <label>
                                <input name="download-tracks" value="{{ item.id }}" type="checkbox">
                            </label>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr class="settingsBoxHyphen"/>
            <input type="submit" value="{{ _('Download') }}" class="download-button">
        </form>
    </div>

    <form method="get" action="{{ url_for('multilingual.convert') }}">
        <button class="convert-button" type="submit">{{ _('Convert again') }}</button>
    </form>

{% endblock %}