{% extends "base.html" %}

{% block head %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    {% endblock styles %}
{% endblock head %}

{% block content %}
    <div class="settingsBox">
        <div class="accountSettings">
            <h2>&nbsp; {{ _('Account') }}</h2>
            <hr class="settingsBoxHyphen"/>
            <ul>
                <li>
                    <a href="{{ url_for('multilingual.change_password') }}">{{ _('Reset password') }}</a>
                </li>
{#                TODO: Add more setting functionality for account, e.g. change email address#}
{#                <li>#}
{#                    another cool stuff...#}
{#                </li>#}
            </ul>
        </div>
        </br>
{#        TODO: Add functionality for general settings, e.g. frame rate for converting, zip yes or no#}
{#        <hr class="settingsBoxHyphen2"/>#}
{#        </br>#}
{#        <div class="converterSettings">#}
{#            <h2>&nbsp; Audio-Converter</h2>#}
{#            <hr class="settingsBoxHyphen"/>#}
{#            <ul>#}
{#                <li>#}
{#                    awesome general settings...#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#        </br>#}
{#        <hr class="settingsBoxHyphen2"/>#}
{#        </br>#}
{#        </br>#}
{#        <div>#}
{#            <button type="submit">{{ _('Save') }}</button>#}
{#        </div>#}
    </div>
{% endblock %}