{% extends "base.html" %}

{% block head %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    {% endblock styles %}
{% endblock head %}

{% block content %}
    <div class="errorBox">
        <h1 class="errorTitle">{{ _("You don't have permission to do that.")}} (403)</h1>
        <p>{{ _('Please check your account and try again.')}}</p>
    </div>
    <div class="homeButton">
        <form method="get" action="{{ url_for('multilingual.index') }}">
            <button type="submit">{{ _('Home') }}</button>
        </form>
    </div>
{% endblock content %}