<header id="index-header">
    <a id="index-logo-link" href="{{ url_for('multilingual.index') }}">
        <img id="index-logo" src="{{ url_for('static', filename='img/logo.png') }}"
             alt={{ _("The logo should be here somewhere...") }}>
    </a>
    {% if not current_user.is_authenticated %}
        <form method="get" action="{{ url_for('multilingual.login') }}">
            <button id="index-signin-button" type="submit">{{ _("Sign In") }}</button>
        </form>
        <form method="get" action="{{ url_for('multilingual.register') }}">
            <button id="index-signup-button" type="submit">{{ _("Sign Up") }}</button>
        </form>
    {% endif %}
    {% if current_user.is_authenticated %}
        <form method="get" action="{{ url_for('multilingual.logout') }}">
            <button id="index-signout-button" type="submit">{{ _("Sign out") }}</button>
        </form>
    {% endif %}

    {% if lang == 'en' %}
        <button id="index-language-button" type="button"
                onclick="window.location.href = '{{ url_for(request.endpoint, lang_code='de') }}'">
            <img id="index-language-button-icon" src="{{ url_for('static', filename='img/germany.png') }}"
                 alt="{{ _('Can someone pass me that logo, please?') }}">
        </button>
    {% endif %}

    {% if lang == 'de' %}
        <button id="index-language-button" type="button"
                onclick="window.location.href = '{{ url_for(request.endpoint, lang_code='en') }}'">
            <img id="index-language-button-icon" src="{{ url_for('static', filename='img/uk.png') }}"
                 alt="{{ _('Can someone pass me that logo, please?') }}">
        </button>
    {% endif %}
</header>
