<header id="index-header">
    <a id="index-logo-link" href="{{ url_for('multilingual.index') }}">
        <img id="index-logo" src="{{ url_for('static', filename='img/Logo.png') }}"
             alt={{ _("The logo should be here somewhere...") }}>
    </a>

  {% if lang == 'en' %}
               <input id="index-language-button" type="image" src="{{ url_for('static', filename='img/Flag-de.png') }}"
                onclick="window.location.href = '{{ url_for(request.endpoint, lang_code='de') }}'">
    {% endif %}

    {% if lang == 'de' %}
        <input id="index-language-button" type="image" src="{{ url_for('static', filename='img/Flag-en.png') }}"
                onclick="window.location.href = '{{ url_for(request.endpoint, lang_code='en') }}'">
    {% endif %}

    {% if not current_user.is_authenticated %}
        <form method="get" action="{{ url_for('multilingual.login') }}">
            <input id="index-signin-button" type="image" src="{{ url_for('static', filename='img/Log-in.png') }}">
        </form>
        <form method="get" action="{{ url_for('multilingual.register') }}">
            <input id="index-signup-button" type="image" src="{{ url_for('static', filename='img/Sign-up.png') }}">
        </form>
    {% endif %}
    {% if current_user.is_authenticated %}
        <form method="get" action="{{ url_for('multilingual.logout') }}">
        <input id="index-signout-button" type="image" src="{{ url_for('static', filename='img/Log-out.png') }}">
        </form>
         <input id="index-account-button" type="image" src="{{ url_for('static', filename='img/Person.png') }}">
         <input id="index-setting-button" type="image" src="{{ url_for('static', filename='img/Gear.png') }}">
         <input id="index-history-button" type="image" src="{{ url_for('static', filename='img/Folder.png') }}">
    {% endif %}

</header>
<div id="home-header-break">

</div>
