<header id="index-header">
    <a id="index-logo-link" href="{{ url_for('multilingual.index') }}">
        <img id="index-logo" src="{{ url_for('static', filename='img/Logo.png') }}"
             alt="{{ _("The logo should be here somewhere") }}..." title={{ _('Home')}}>
    </a>

    {% if lang == 'en' %}
        <input id="index-language-button" type="image" src="{{ url_for('static', filename='img/Flag-de.png') }}"
               onclick="window.location.href = '{{ url_for(request.endpoint, lang_code='de') }}'" title={{ _('Language')}}>
    {% endif %}

    {% if lang == 'de' %}
        <input id="index-language-button" type="image" src="{{ url_for('static', filename='img/Flag-en.png') }}"
               onclick="window.location.href = '{{ url_for(request.endpoint, lang_code='en') }}'" title={{ _('Language')}}>
    {% endif %}

    {% if not current_user.is_authenticated %}
        <form method="get" action="{{ url_for('multilingual.login') }}">
            <input id="index-signin-button" type="image" src="{{ url_for('static', filename='img/Log-in.png') }}" title={{ _('Sign-in')}}>
        </form>
        <form method="get" action="{{ url_for('multilingual.register') }}">
            <input id="index-signup-button" type="image" src="{{ url_for('static', filename='img/Sign-up.png') }}" title={{ _('Sign-up')}}>
        </form>
    {% endif %}
    {% if current_user.is_authenticated %}
        <form method="get" action="{{ url_for('multilingual.logout') }}">
            <input id="index-signout-button" type="image" src="{{ url_for('static', filename='img/Log-out.png') }}"  title={{ _('Sign-out')}}>
        </form>
        <form method="get" action="{{ url_for('multilingual.settings') }}">
            <input id="index-setting-button" type="image" src="{{ url_for('static', filename='img/Gear.png') }}" title={{ _('Settings')}}>
        </form>
        {#         <input id="index-account-button" type="image" src="{{ url_for('static', filename='img/Person.png') }}">#}
        <input id="index-history-button" type="image" src="{{ url_for('static', filename='img/Folder.png') }}" title={{ _('History')}}>

        {% if current_user.has_role('admin') %}
            <form method="get" action="{{ url_for('admin.index') }}">
                <input id="index-setting-button" type="image" src="{{ url_for('static', filename='img/Person.png') }}" title={{ _('Admin')}}>
            </form>
        {% endif %}
    {% endif %}

</header>
<div id="index-header-break">

</div>
