@import "root.css";

body {
    background-color: var(--bg-color);
    max-width: 100%;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}
/*button, input[type="button"], input[type="submit"] {*/
/*    -webkit-appearance: button;*/
/*    -moz-appearance: button;*/
/*    appearance: inherit;*/
/*    background: var(--signal-color);*/
/*    border-radius: 45% 25%;*/
/*    border: solid darkblue thin;*/
/*    padding: 6%;*/
/*    box-shadow: 0 .2em .4em rgba(0, 0, 0, .5);*/
/*}*/
.signalButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: inherit;
    background: var(--signal-color);
    border-radius: 45% 25%;
    border: solid darkblue thin;
    padding: 6%;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, .5);
}

#index-header {
    /*background-color: var(--main-color);*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: center;*/
    /*background: linear-gradient(to bottom, #a9a9a9, #d3d3d3, #a9a9a9);*/
    /*background: linear-gradient(to bottom, #2b2b2b, #363636 50%, #2b2b2b);*/
        background: #18171e;


    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    border: 0;
    padding: 0;
    margin: 0;
    align-items: center;
}
#home-header-break {
    height: 5px;
    width: 100%;
    background: var(--signal-color);
}

#index-logo {
    height: 50px;
    float: left;
    margin-top: 14px;
    margin-left: 20px;
}

/*#home-signout-button, #home-language-button, #home-getStarted-button {
#index-signin-button, #index-signup-button, #index-signout-button, #index-language-button, #index-getStarted-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: inherit;
    border-radius: 15px;
    background: var(--signal-color);
    padding: 0;
    width: 120px;
    height: 55px;
}*/

#index-signin-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-signup-button {
  height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-signout-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-language-button {
    height: 28px;
    width: auto;
    border: solid #d3d3d3 1px;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-language-button-icon {
    width: 50px;
}

#index-footer {
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#index-footer-copyright {
    color: var(--text-color);
    position: absolute;
    left: 0;
    margin-left: 40px;
}

#index-footer-links-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    margin-right: 40px;
}

#index-footer-imprint-link {
    float: right;
    margin-left: 20px;
}

#index-footer-privacy-link {
    float: left;
}
