@import "root.css";

body {
    background-color: var(--bg-color);
    max-width: 100%;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
}

button, input[type="button"], input[type="submit"] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: inherit;
    background: var(--signal-color);
    border-radius: 25%;
    border: solid darkblue thin;
    box-shadow: 0 .2em .4em rgba(0, 0, 0, .5);
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;
}

.mainButton, button {
    height: 10vh;
    width: 10vw;
    font-size: 150%;
}

#index-header {
    background: #18171e;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    border: 0;
    padding: 0;
    margin: 0;
    align-items: center;
}

#index-header-break {
    height: 5px;
    width: 100%;
    background: var(--signal-color);
}

#index-logo {
    height: 50px;
    float: left;
    margin-top: 14px;
    margin-left: 20px;
}

#index-signin-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-signup-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-signout-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-language-button {
    height: 28px;
    width: 47px;
    border: solid #d3d3d3 1px;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-language-button:hover {
    height: 24px;
    width: 43px;
    border: solid #d3d3d3 3px;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-account-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-setting-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-history-button {
    height: 30px;
    width: auto;
    margin-top: 24px;
    margin-right: 40px;
    float: right;
}

#index-footer {
    position: absolute;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#index-footer-copyright {
    color: var(--text-color2);
    position: absolute;
    left: 0;
    margin-left: 40px;
}

#index-footer-links-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    margin-right: 40px;
}

#index-footer-imprint-link {
    float: right;
    margin-left: 20px;
}

#index-footer-privacy-link {
    float: left;
}
