@import "base.css";

.dropzone {
    border: 2px dashed var(--border-color);
    border-radius: 20px;
    height: 50vh;
    width: 80vw;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    box-shadow: 0 .2em .4em rgba(0, 0, 0, .5);
}

#upload-convert-submit {
    position: absolute;
    top: 86%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: inherit;
    color: var(--main-color);
    font-size: 1.5vh;
}

#convert-audio-file-format-label {
    position: absolute;
    top: 76%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

#convert-audio-file-format-select {
    position: absolute;
    top: 79%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#convert-download-dialog {
    position: absolute;
    top: 50%;
    left: 75%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

#convert-loader-circle {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: wait;
}

#convert-loader-circle p {
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--main-complementary-color);
}

.loader {
    margin: auto auto 20px;
    border: 14px solid var(--text-color);
    border-top: 14px solid #009AFF;
    border-radius: 60%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
