@import "base.css";


.history-dialog {
    overflow-y: scroll !important;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    box-shadow: 0 .2em .4em rgba(0, 0, 0, .5);
    width: 50vh;
    min-height: 30vh;
    max-height: 65vh;
}

.settingsBoxHyphen {
    color: var(--border-color);
    margin: 0;
}

#history-buttons {
    position: absolute;
    display: inline-block;
    justify-content: space-between;
    width: 50vh;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#history-download-button {
    max-width: fit-content;
    left: 0;
    font-size: 1.5vh;
    transform: translate(0%);
}

#history-convert-button {
    max-width: fit-content;
    left: 0;
    float: right;
    font-size: 1.5vh;
    transform: translate(0%);
}

table {
    border-collapse: separate;
    border-spacing: 0.2em;
    width: max-content;
}

th, td {
    padding: .2em .5em;
    border-radius: .1em;
}

thead th {
    background-color: #ffebe6;
    color: #c32e04;
}

tr {
    text-align: right;
    box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, .5);
}

td:empty {
    box-shadow: none;
}
