@import "base.css";

#home-main-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}

#home-main-dialog h1 {
    font-size: 70pt;
    text-align: center;
}

#home-main-dialog h3 {
    color: var(--text-color);
    font-size: 50pt;
    text-align: center;
}

#home-main-dialog form {
    display: flex;
    align-items: center;
    justify-content: center;
}
