@import "base.css";

#index-main-dialog {
    position: relative;
    top: 25vh;
    left: auto;
}

#index-main-dialog h1 {
    font-size: 8vh;
    text-align: center;
}

#index-main-dialog h3 {
    color: var(--text-color);
    font-size: 6vh;
    text-align: center;
}

#index-main-dialog form {
    display: flex;
    align-items: center;
    justify-content: center;
}
