@import "base.css";

#index-main-dialog {
    position: relative;
    top: 25vh;
    left: auto;
}

#index-main-dialog h1 {
    font-size: 8vh;
    text-align: center;
    margin-bottom: 0;
}

#index-main-dialog h3 {
    color: var(--text-color);
    font-size: 6vh;
    text-align: center;
    margin-top: 2vh;
}

#index-main-dialog form {
    display: block;
    align-items: center;
    justify-content: center;
}

#index-getStarted-button {
    padding: 1.5em 1.5em;
    font-size: 2vh;
    border-radius: 40vh;
}
