:root {
    --main-color: #000000FF;
    --main-complementary-color: #FFFFFFFF;
    --signal-color: linear-gradient(to bottom, #0070FF, #009AFF 50%, #0070FF);
    --signal-color-effect: linear-gradient(to bottom, #009AFF, #0070FF 50%, #009AFF);
    --bg-color: #D3D3D3FF;
    --text-color: #A9A9A9FF;
    --text-color2: #6F6F6F;
    --link-color: #6F6F6F;
    --link-color-visited: #A0EF00FF;
    --link-color-hover: #0070FF;
    --link-color-active: #BBCC90FF;
    --error-color: red;
}

body {
    font-family: 'Roboto', sans-serif;
}

a:link {
    color: var(--link-color);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--link-color-visited);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: var(--link-color-active);
    background-color: transparent;
    text-decoration: underline;
}

