@import "root.css";

.settingsBox {
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    border: solid 1px var(--border-color);
    padding: 3em;
    border-radius: 20px;
    box-shadow: 0 .2em .4em var(--main-color);
}

.settingsBoxHyphen {
    color: var(--text-color);
}

.settingsBoxHyphen2 {
    color: #E6E2E2;
    margin: 0 -2.5vw;
}
