@import "root.css";

.settingsBox {
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    min-width: 300px;
    border: solid 1px var(--border-color);
    padding: 3em;
    border-radius: 20px;
    box-shadow: 0 .2em .4em var(--main-color);
}

.settingsBoxHyphen {
    color: var(--text-color);
}

.settingsBoxHyphen2 {
    color: #E6E2E2;
    margin: 0 -2.5vw;
}
.reply_buttons {
    position: relative;
    display: inline-block;
    width: 10vw;
    min-width: 200px;
    left: 50%;
    transform: translate(-50%);
}

#yes-button {
    max-width: fit-content;
    left: 0;
    float: right;
    transform: translate(0%);
}

#no-button {
    max-width: fit-content;
    left: 0;
    transform: translate(0%);
}

