{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
    <div class="conversationBox">
        {% include "security/_messages.html" %}
        <h1>{{ _('Sign In') }}</h1>
        <form action="{{ url_for('multilingual.login') }}" method="POST" name="login_user_form" class="formSec">
            {{ login_user_form.hidden_tag() }}
            {{ render_field_with_errors(login_user_form.email) }}
            {{ render_field_with_errors(login_user_form.password) }}
            {{ render_field_with_errors(login_user_form.remember) }}
            {{ render_field(login_user_form.submit) }}
        </form>
        <a href="{{ url_for('multilingual.forgot_password') }}">{{ _('Forgot password') }}?</a>
    </div>
{% endblock %}